<div class="page-header">
  <h1><%= @idea.title %><small> by Joe Turner</small></h1>
</div>

<p id="notice"><%= notice %></p>

<p>
  <%= @idea.pitch %>
</p>

<p>
  <b>Added info:</b>
  <%= @idea.added_info %>
</p>


<%= link_to 'Edit', edit_idea_path(@idea) %> |
<%= link_to 'Back', ideas_path %>
