<div class="idea-listing">

<div class="page-header">
  <h1>Agencies <small>Currently <%= @agencies.count %></small></h1>
</div>

<div class="row">

<% @agencies.each do |agency| %>

<div class="span4">
<div class="media idea">

    <a class="pull-left" href="#">
      <img class="media-object" src="" alt="">
    </a>

    <div class="media-body">
      <h4 class="media-heading title"><%= link_to agency.name, agency %></h4>
      <p class="desc"><%= agency.city %></p>
      <p class="desc"><%= agency.email %></p>
    </div>

</div>
</div>

<% end %>

<div class="span4">

  <div class="new">
    <%= link_to 'Create New Agency', new_agency_path %>
  </div>

</div>

</div>
</div>
