<div class="idea-listing">

<div class="page-header">
  <h1>Your Projects <small>Currently <%= @projects.count %></small></h1>
</div>

<div class="row">

<% @projects.each do |project| %>

<div class="col-lg-4">
<div class="media idea">

    <a class="pull-left" href="#">
      <img class="media-object" src="" alt="">
    </a>

    <div class="media-body">
      <h4 class="media-heading title"><%= link_to project.name, Project %></h4>
      <p class="desc"><%= project.description %></p>
      <p class="desc"><strong><%= project.project_start %> to <%= project.project_end %></strong></p>
    </div>

</div>
</div>

<% end %>

<div class="col-lg-4">

  <div class="new">
    <%= link_to 'Create New Project', new_project_path %>
  </div>

</div>

</div>
</div>
