<!DOCTYPE html>
<html>
<head>
  <title>IdeaBook</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>

<div class="container">

<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Idea Book</a>
    <ul class="nav">
      <li><%= link_to 'Agencies', agencies_path %></li>
      <li><%= link_to 'Brands', brands_path %></li>
      <li class="pull-right"><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
    </ul>
  </div>
</div>


<div class="span12">

<%= yield %>

</div>
</div>

</body>

</html>
